<figure class="my-3 text-center">
    <a [routerLink]="['../categories']" [queryParams]="{ category: category.strCategory }" class="mw-100">
        <img src="{{category.strCategoryThumb}}" class="rounded-circle round-card-circle mx-auto">
    </a>
    <figcaption class="mt-2 text-center">
        <a [routerLink]="['../categories']" [queryParams]="{ category: category.strCategory }" class="tstbite-category-title">{{category.strCategory}}</a>
    </figcaption>
</figure>
