<div class="row align-items-center" *ngIf="meals.length === 0">
    <div class="col-12" *ngFor="let category of categories">
        <app-meal-option [title]="category.strCategory" [url]="category.strCategoryThumb" 
        [description]="category.strCategoryDescription"
        (onClickEvent)="getMealsByCategories($event)"></app-meal-option>
    </div>
</div>
<div class="col-12" *ngIf="meals.length !== 0">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <app-overlay-tile [title]="''" [url]="returnThumbnail" (onClickEvent)="returnToCategories()"></app-overlay-tile>
        </div>
        <div class="col-sm-12 col-md-4" *ngFor="let meal of meals">
            <app-overlay-link-tile [title]="meal.strMeal" [url]="meal.strMealThumb" [id]="meal.idMeal"></app-overlay-link-tile>
        </div>
    </div>
</div>