.bitbucket-icon {
    width: 32px;
    height: 32px;
    fill: currentColor;
    transition: all ease .4s;
    transform: scale(1);
}

.bitbucket-icon:hover {
    color: #1a74ed;
    transition: all ease .4s;
    transform: scale(1.2);
}