<a class="card my-3 search-option">
    <div class="row g-0 bg-dark text-light" (click)="onClickCallback(title)">
        <div class="col-md-4 align-self-center">
            <img src="{{url}}" class="img-thumbnail rounded-start remove-colors" alt="{{title}}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">
                    {{description}}
                    <br/>
                    <br/>
                    <b>Click here for more</b>
                </p>
                <p class="card-text"><small class="text-muted">{{tags}}</small></p>
            </div>
        </div>
    </div>
</a>