.search-option {
    transition: all ease .4s;
    transform:scale(1);
}

.search-option:hover {
    transition: all ease .4s;
    transform:scale(1.1);
    cursor: pointer;
}

.remove-colors {
    background-color: rgba(0,0,0,0); 
    border-color: rgba(0,0,0,0);
}
