<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#test"
            aria-controls="test" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="test">
            <div class="navbar-nav">
                <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
                <a routerLink="/search" routerLinkActive="active" class="nav-link">Search</a>
                <a routerLink="/categories" routerLinkActive="active" class="nav-link">Categories</a>
                <a routerLink="/cuisines" routerLinkActive="active" class="nav-link">Cuisines</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<div style="width: 1px; height: 1px; margin-top: 55px;">
    <!--This is to add space between end of the document and "Popular categories"
        Otherwise footer overlaps the router.-->
</div>

<footer class="text-white bg-dark fixed-bottom">
    <div class="container-fluid">
        <div class="row py-1">
            <div class="col text-left my-auto">
                <app-linkedin-icon></app-linkedin-icon>
                <app-bitbucket-icon></app-bitbucket-icon>
            </div>
            <div class="col text-right my-auto">
                <span>&#169;Tomasz Mankin {{footerCopyrightsYear}}</span>
            </div>
        </div>
    </div>
</footer>



