<div class="row">
    <div class="col-12">
        <img src="./../../../../assets/Error.jpg" alt="NotFound" class="mt-5 img-fluid mx-auto d-block">
        <p class="text-center fs-4">Source: <a class="btn btn-dark" target="_blank" 
            href="https://www.reddit.com/r/ProgrammerHumor/comments/c2wv1i/500_internal_server_error/">Click</a></p>
    </div>
</div>