<div class="row">
    <div class="col-12">
        <img src="./../../../../assets/MealNotFound.jpg" alt="NotFound" class="w-100 mt-5">
        <p class="text-center fs-4">Source: <a class="btn btn-dark" target="_blank" href="https://dribbble.com/shots/4187820-404-Food-Not-Found">Click</a></p>
    </div>
</div>