<a [routerLink]="['../receipe']" [queryParams]="{ id: id }" class="arrow-icon arrow-icon-circle arrow-size">
    <svg xmlns="http://www.w3.org/2000/svg" 
        class="arrow-icon-size" 
        viewBox="0 0 13.333 13.333">
        <path d="M6.077,13.089a.833.833,0,0,1,0-1.178L10.488,7.5H.833a.833.833,0,0,1,0-1.667h9.655L6.077,1.423A.834.834,0,0,1,7.256.244l5.829,5.83a.833.833,0,0,1,0,1.186L7.256,13.089a.834.834,0,0,1-1.179,0Z"
            class="arrow-icon-color"></path>
    </svg>
</a>