.arrow-icon {
    fill: currentColor;
    position: absolute;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
    background-color: #888;
    transition: all ease .4s;
    bottom: 35px;
    right: 35px;
}

.arrow-icon-size {
    width: 13.333px;
    height: 13.333px;
}

.arrow-icon-circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.arrow-icon:hover {
	background-color: #fff;
    transition: all ease .4s;
}

.arrow-icon-color {
    background-color: rgb(33,37,41);
}