<a [routerLink]="['../receipe']" [queryParams]="{ id: id }">
    <div class="card bg-dark text-white m-2 wrap" (mouseover)="hoverDetected=true" 
        (mouseleave)="hoverDetected=false">
        <img src="{{url}}" class="card-img" alt="Img {{title}}">
        <div class="card-img-overlay text" *ngIf="hoverDetected">
            <p class="card-title text-center display-6 text-break"><b>{{title}}</b></p>
        </div>
    </div>
</a>
