.overlay-tile-text-color {
    color: black;
}

.wrap {
    position: relative;
    transform: scale(1);
    transition: all .4s ease;
}

.wrap:hover {
    transform: scale(1.1);
    transition: all .4s ease;
    cursor: pointer;
}

.wrap img {
    width: 100%;
    height: auto;
    display: block;
}
.text {
    position:absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background:rgba(255,255,255,.5);
    
    text-align: center;
    color: black;
    
}
.text:after {
    content: '';
    width: 1px; 
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}
.text h5 {
    display: inline-block;
    vertical-align: middle;
}