<div class="card bg-dark text-white m-2 wrap" (mouseover)="hoverDetected=true" (mouseleave)="hoverDetected=false"
    (click)="clickCallback(title)">
    <img src="{{url}}" class="card-img" alt="Img {{title}}">
    <div class="card-img-overlay text" *ngIf="hoverDetected">
        <h5 class="card-title text-center display-4"><b>{{title}}</b></h5>
    </div>
</div>