<div class="col-12">
    <div class="row">
        <app-search-bar (mealNameChangedEvent)="searchByName($event)"></app-search-bar>
        <div class="col-12" *ngFor="let meal of meals">
            <app-meal-option [title]="meal.strMeal"
                [url]="meal.strMealThumb"
                [description]="meal.strInstructions | sliceWithDots:400"
                [tags]="meal | createTagsFromMeal"></app-meal-option>
        </div>
    </div>
</div>