<figure class="my-3 card">
    <a href="#" [routerLink]="['../receipe']" [queryParams]="{ id: meal.idMeal }" class="card-animation rounded-6">
        <img class="w-100" src="{{meal.strMealThumb}}">
    </a>
</figure>
<figcaption class="text-light text-center">
    <h5 class="card-title"><strong>{{meal.strMeal}}</strong></h5>
</figcaption>