
.card-animation {
    display: block;
    overflow: hidden;
    transition: all ease .4s;
}

.card-animation img {
    transform: scale(1);
}

.card-animation:hover {
    transform: scale(1.1);
    transition: all ease .4s;
}