/* You can add global styles to this file, and also import other style files */
.dark-background {
    background-color: rgb(78, 84, 90);
    color: #ccc;
}

a {
    text-decoration: none;
    color: #ccc
}