<div class="card bg-dark">
    <div class="card-body">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <img class="img-fluid rounded w-100" src="{{thumbnail}}">
            </div>
            <div class="col-md-5 col-sm-12 card-body">
                <p class="card-text">
                    <i class="bi bi-tags-fill p-1"></i>
                    <small class="text-muted ml-1">{{categories}}</small>
                </p>
                <h5 class="card-title">{{title}}</h5>
                <ul class="list-group list-group-flush" *ngFor="let ingridient of listOfIngridients">
                    <li class="list-group-item bg-dark text-light p-0">{{ingridient}}</li>
                </ul>
                <span>
                    <app-arrow-right-icon id="{{id}}"></app-arrow-right-icon>
                </span>
            </div>
        </div>
    </div>
</div>