.filled-star-icon {
    width: 24px;
    height: 24px;
    fill: #eea500;
    /* transform: rotate(-360deg);
    transition-duration: 3s; */
}

.filled-star-icon:hover {
    /* transform: rotate(360deg);
    transition-duration: 6s;
    fill: #ffa100; */
}