<section>
    <div class="row">
        <h5 class="display-5">Lucky receipe</h5>
        <div class="col-12">
           <app-big-card [meal]="randomMeal"></app-big-card>
        </div>
    </div>
</section>


<div class="row mt-3">
    <h5 class="display-5">Popular meals</h5>
    <div class="col-md-4 col-sm-12" *ngFor="let popularMeal of popularMeals">
        <app-small-card [meal]="popularMeal"></app-small-card>
    </div>
</div>

<div class="row mt-3">
    <h5 class="display-5">Something sweet</h5>
    <div class="col-md-4 col-sm-12" *ngFor="let sweetMeal of sweetMeals">
        <app-small-card [meal]="sweetMeal"></app-small-card>
    </div>
</div>


<div class="row mt-3">
    <h5 class="display-5">Popular categories</h5>
    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6" *ngFor="let category of categories | shuffle | slice:0:6">
        <app-round-card [category]="category"></app-round-card>
    </div>
</div>