.linkedin-icon {
    width: 32px;
    height: 32px;
    fill: currentColor;
    transition: all ease .4s;
    transform: scale(1);
}

.linkedin-icon:hover {
    color: #0e76a8;
    transition: all ease .4s;
    transform: scale(1.2);
}