<div class="row">
    <div class="col-12">
        <div class="card mb-3 bg-dark text-light" *ngIf="meal">
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <img src="{{meal.strMealThumb}}" class="img-fluid m-2 rounded-start" alt="{{meal.strMeal}} thumbnail">
                        </div>
                        <div class="col-12">
                            <table class="table table-dark table-striped table-hover mx-2">
                                <tbody>
                                    <tr *ngFor="let ingridient of ingridients">
                                        <td class="table-dark text-end">
                                            <b>{{ingridient | splitString : ':' : 0}}:</b>
                                        </td>
                                        <td class="table-dark ">
                                            {{ingridient | splitString: ':' : 1}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{meal.strMeal}}</h5>
                        <iframe class="w-100" *ngIf="meal.strYoutube" [src]="youtubeUrl" frameborder="0" allowfullscreen></iframe>
                        <p class="card-text lh-sm receipe-text" *ngFor="let instruction of instructions">
                            {{instruction}}
                            <br/>
                        </p>
                        <p class="font-monospace fs-6">Source article: <a href="{{meal.strSource}}">Click</a></p>
                        <p class="card-text"><small class="text-muted">{{categories}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>